.section {
    margin: 7px auto;
    max-width: 85%;
    background-color: white;
}

.section__headline {
    margin: 0px;
    padding: 15px;
    font-size: 18px;
    border-bottom: 3px solid rgb(238, 238, 238);
}

.section__form {
    font-size: 16px;
    display: flex;
}

.section__formField {
    margin: 15px;
    padding: 5px;
    border: 2px solid rgb(238, 238, 238);
    flex-grow: 1;
}

.section__button {
    margin: 15px 15px 15px 0px;
    padding: 6px;
    background-color: teal;
    color: white;
    border: none;
    transition: background 1s, transform 2s;
}

.section__button:hover {
    background: hsl(180, 100%, 35%);
    transform: scale(1.2);
}

@media (max-width: 414px) {
    .section__form {
        flex-wrap: wrap;
    }
    .section__button {
        flex-grow: 1;
        margin: 0 15px 15px 15px;
    }
}